<a href="https://colab.research.google.com/github/odibo1/ECON602/blob/master/Government%20Expenditure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Government expenditure, nominal.csv", encoding = "ISO-8859-1", skiprows = 5, )
df.head()

        Year Unnamed: 1  ...      2018      2019
0    Country        NaN  ...       NaN       NaN
1  Australia        NaN  ...    711049        ..
2    Austria        NaN  ...  187705.7  192181.8
3    Belgium        NaN  ...  240044.9  247296.7
4     Canada        NaN  ...    929900    967463

[5 rows x 54 columns]

In [0]:
df = df.drop(df.index[range(36,43)])

In [5]:
df = df.drop(["Unnamed: 1","Unnamed: 3"], axis = 1)
df = df.drop(0, axis=0)
df.head()

        Year                   Unnamed: 2  ...       2018      2019
1  Australia  Australian Dollar, Millions  ...     711049        ..
2    Austria               Euro, Millions  ...   187705.7  192181.8
3    Belgium               Euro, Millions  ...   240044.9  247296.7
4     Canada    Canadian Dollar, Millions  ...     929900    967463
5   Colombia     Colombian Peso, Millions  ...  445197000        ..

[5 rows x 52 columns]

In [6]:
df = pd.melt(df, id_vars = ['Year','Unnamed: 2'], var_name = 'year', value_name='Expenditure')
df.head()

        Year                   Unnamed: 2  year Expenditure
0  Australia  Australian Dollar, Millions  1970        9787
1    Austria               Euro, Millions  1970          ..
2    Belgium               Euro, Millions  1970          ..
3     Canada    Canadian Dollar, Millions  1970          ..
4   Colombia     Colombian Peso, Millions  1970          ..

In [7]:
df = df.rename(columns = {'Unnamed: 2':'Unit','Year':'Country','year':'Year'})
df.head()

     Country                         Unit  Year Expenditure
0  Australia  Australian Dollar, Millions  1970        9787
1    Austria               Euro, Millions  1970          ..
2    Belgium               Euro, Millions  1970          ..
3     Canada    Canadian Dollar, Millions  1970          ..
4   Colombia     Colombian Peso, Millions  1970          ..

In [8]:
df.tail(10)

              Country                      Unit  Year Expenditure
1740           Poland           Zloty, Millions  2019      955497
1741         Portugal            Euro, Millions  2019     90604.2
1742  Slovak Republic            Euro, Millions  2019     40304.4
1743         Slovenia            Euro, Millions  2019     20967.4
1744            Spain            Euro, Millions  2019      521949
1745           Sweden   Swedish Krona, Millions  2019     2477071
1746      Switzerland     Swiss Franc, Millions  2019          ..
1747           Turkey    Turkish Lira, Millions  2019          ..
1748   United Kingdom  Pound Sterling, Millions  2019      907877
1749    United States       US Dollar, Millions  2019          ..

In [9]:
df2 = pd.read_csv('GDP, nominal .csv', skiprows = 4)
df2.head()

        Time Unnamed: 1  ...          2020          2021
0    Country        NaN  ...           NaN           NaN
1  Australia        NaN  ...  2.066593e+12  2.137723e+12
2    Austria        NaN  ...  4.089528e+11  4.202919e+11
3    Belgium        NaN  ...  4.837277e+11  4.955417e+11
4     Canada        NaN  ...  2.385478e+12  2.472130e+12

[5 rows x 56 columns]

In [10]:
df2 = df2.drop(df2.index[0])
df2.tail(20)

                                                 Time  ...          2021
30                                    Slovak Republic  ...  1.043866e+11
31                                           Slovenia  ...  5.430369e+10
32                                              Spain  ...  1.315736e+12
33                                             Sweden  ...  5.359034e+12
34                                        Switzerland  ...  7.299890e+11
35                                             Turkey  ...  5.773280e+12
36                                     United Kingdom  ...  2.336939e+12
37                                      United States  ...  2.327874e+13
38                                       OECD - Total  ...  6.756025e+13
39                                 Non-OECD Economies  ...  9.153735e+13
40                                 Non-OECD Economies  ...  4.403122e+13
41                                                NaN  ...  7.902208e+12
42                                                NaN  ...  1.120907e+14
43                                                NaN  ...  3.980066e+13
44                                                NaN  ...  2.521726e+14
45                                                NaN  ...  1.861158e+16
46                                                NaN  ...  1.197149e+14
47                                                NaN  ...  5.700328e+12
48                            Dynamic Asian Economies  ...  3.049867e+12
49  Data extracted on 08 May 2020 19:57 UTC (GMT) ...  ...           NaN

[20 rows x 56 columns]

In [11]:
df2 = df2.drop(df2.index[range(37,49)])
df2.tail(20)

               Time Unnamed: 1  ...          2020          2021
18            Italy        NaN  ...  1.798738e+12  1.826634e+12
19            Japan        NaN  ...  5.660256e+14  5.757141e+14
20            Korea        NaN  ...  1.984447e+15  2.057878e+15
21           Latvia        NaN  ...  3.201756e+10  3.372507e+10
22        Lithuania        NaN  ...  5.034911e+10  5.273706e+10
23       Luxembourg        NaN  ...  6.686077e+10  6.958365e+10
24           Mexico        NaN  ...  2.533891e+13  2.644549e+13
25      Netherlands        NaN  ...  8.351305e+11  8.590128e+11
26      New Zealand        NaN  ...  3.223833e+11  3.364681e+11
27           Norway        NaN  ...  3.684785e+12  3.852542e+12
28           Poland        NaN  ...  2.429302e+12  2.572833e+12
29         Portugal        NaN  ...  2.147786e+11  2.206120e+11
30  Slovak Republic        NaN  ...  9.921225e+10  1.043866e+11
31         Slovenia        NaN  ...  5.131391e+10  5.430369e+10
32            Spain        NaN  ...  1.279363e+12  1.315736e+12
33           Sweden        NaN  ...  5.194899e+12  5.359034e+12
34      Switzerland        NaN  ...  7.147008e+11  7.299890e+11
35           Turkey        NaN  ...  5.043285e+12  5.773280e+12
36   United Kingdom        NaN  ...  2.272511e+12  2.336939e+12
37    United States        NaN  ...  2.233870e+13  2.327874e+13

[20 rows x 56 columns]

In [12]:
df2 = pd.melt(df2, id_vars = ['Time','Unnamed: 1','Unnamed: 2','Unnamed: 3'], var_name = 'Year', value_name = 'GDP')
df2.head()

        Time Unnamed: 1         Unnamed: 2 Unnamed: 3  Year             GDP
0  Australia        NaN  Australian Dollar          i  1970  38548000000.00
1    Austria        NaN               Euro          i  1970  29001006695.40
2    Belgium        NaN               Euro          i  1970  33103100643.62
3     Canada        NaN    Canadian Dollar          i  1970  93236000000.00
4      Chile        NaN       Chilean Peso          i  1970              ..

In [13]:
df2 = df2[['Time','Unnamed: 2', 'Year', 'GDP']]
df2.head()

        Time         Unnamed: 2  Year             GDP
0  Australia  Australian Dollar  1970  38548000000.00
1    Austria               Euro  1970  29001006695.40
2    Belgium               Euro  1970  33103100643.62
3     Canada    Canadian Dollar  1970  93236000000.00
4      Chile       Chilean Peso  1970              ..

In [0]:
df2 = df2.rename(columns = {'Time':'Country', 'Unnamed: 2':'Unit'})

In [15]:
df2.tail(20)

              Country                Unit  Year          GDP
1904            Italy                Euro  2021  1.82663e+12
1905            Japan                 Yen  2021  5.75714e+14
1906            Korea                 Won  2021  2.05788e+15
1907           Latvia                Euro  2021  3.37251e+10
1908        Lithuania                Euro  2021  5.27371e+10
1909       Luxembourg                Euro  2021  6.95837e+10
1910           Mexico        Mexican Peso  2021  2.64455e+13
1911      Netherlands                Euro  2021  8.59013e+11
1912      New Zealand  New Zealand Dollar  2021  3.36468e+11
1913           Norway     Norwegian Krone  2021  3.85254e+12
1914           Poland               Zloty  2021  2.57283e+12
1915         Portugal                Euro  2021  2.20612e+11
1916  Slovak Republic                Euro  2021  1.04387e+11
1917         Slovenia                Euro  2021  5.43037e+10
1918            Spain                Euro  2021  1.31574e+12
1919           Sweden       Swedish Krona  2021  5.35903e+12
1920      Switzerland         Swiss Franc  2021  7.29989e+11
1921           Turkey        Turkish Lira  2021  5.77328e+12
1922   United Kingdom      Pound Sterling  2021  2.33694e+12
1923    United States           US Dollar  2021  2.32787e+13

In [16]:
Expend_GDP = df.merge(df2, on = ['Country','Year'])
Expend_GDP.head()

     Country                       Unit_x  ...             Unit_y             GDP
0  Australia  Australian Dollar, Millions  ...  Australian Dollar  38548000000.00
1    Austria               Euro, Millions  ...               Euro  29001006695.40
2    Belgium               Euro, Millions  ...               Euro  33103100643.62
3     Canada    Canadian Dollar, Millions  ...    Canadian Dollar  93236000000.00
4   Colombia     Colombian Peso, Millions  ...     Colombian Peso              ..

[5 rows x 6 columns]

In [17]:
Expend_GDP = Expend_GDP[['Country','Unit_x','Year','Expenditure','GDP']]
Expend_GDP.head()

     Country                       Unit_x  Year Expenditure             GDP
0  Australia  Australian Dollar, Millions  1970        9787  38548000000.00
1    Austria               Euro, Millions  1970          ..  29001006695.40
2    Belgium               Euro, Millions  1970          ..  33103100643.62
3     Canada    Canadian Dollar, Millions  1970          ..  93236000000.00
4   Colombia     Colombian Peso, Millions  1970          ..              ..

In [18]:
Expend_GDP.info

<bound method DataFrame.info of              Country                       Unit_x  ... Expenditure             GDP
0          Australia  Australian Dollar, Millions  ...        9787  38548000000.00
1            Austria               Euro, Millions  ...          ..  29001006695.40
2            Belgium               Euro, Millions  ...          ..  33103100643.62
3             Canada    Canadian Dollar, Millions  ...          ..  93236000000.00
4           Colombia     Colombian Peso, Millions  ...          ..              ..
...              ...                          ...  ...         ...             ...
1745          Sweden      Swedish Krona, Millions  ...     2477071      5.0402e+12
1746     Switzerland        Swiss Franc, Millions  ...          ..     7.00406e+11
1747          Turkey       Turkish Lira, Millions  ...          ..     4.33264e+12
1748  United Kingdom     Pound Sterling, Millions  ...      907877     2.21189e+12
1749   United States          US Dollar, Millions  ...          ..     2.14326e+13

[1750 rows x 5 columns]>

In [19]:
df.info

<bound method DataFrame.info of              Country                         Unit  Year Expenditure
0          Australia  Australian Dollar, Millions  1970        9787
1            Austria               Euro, Millions  1970          ..
2            Belgium               Euro, Millions  1970          ..
3             Canada    Canadian Dollar, Millions  1970          ..
4           Colombia     Colombian Peso, Millions  1970          ..
...              ...                          ...   ...         ...
1745          Sweden      Swedish Krona, Millions  2019     2477071
1746     Switzerland        Swiss Franc, Millions  2019          ..
1747          Turkey       Turkish Lira, Millions  2019          ..
1748  United Kingdom     Pound Sterling, Millions  2019      907877
1749   United States          US Dollar, Millions  2019          ..

[1750 rows x 4 columns]>

In [21]:
#(Expend_GDP['Expenditure']*1_000_000)/
Expend_GDP['GDP']*1000
#Expend_GDP['Expenditure'] = pd.to_numeric(Expend_GDP['Expenditure'], errors='coerce')
#Expend_GDP

0       38548000000.0038548000000.0038548000000.003854...
1       29001006695.4029001006695.4029001006695.402900...
2       33103100643.6233103100643.6233103100643.623310...
3       93236000000.0093236000000.0093236000000.009323...
4       .................................................
                              ...
1745                                           5.0402e+15
1746                                          7.00406e+14
1747                                          4.33264e+15
1748                                          2.21189e+15
1749                                          2.14326e+16
Name: GDP, Length: 1750, dtype: object